InitialiseRepo/eth/data/geth/LOCK
InitialiseRepo/eth/data/geth/nodekey
InitialiseRepo/eth/data/geth/transactions.rlp
InitialiseRepo/eth/data/geth/chaindata/000002.ldb
InitialiseRepo/eth/data/geth/chaindata/000003.log
InitialiseRepo/eth/data/geth/chaindata/CURRENT
InitialiseRepo/eth/data/geth/chaindata/LOCK
InitialiseRepo/eth/data/geth/chaindata/LOG
InitialiseRepo/eth/data/geth/chaindata/*
InitialiseRepo/eth/data/keystore/*
InitialiseRepo/eth/data/*
